@import url(https://fonts.googleapis.com/css2?family=Overpass&display=swap);
body .bodyShow > div:hover, body .bodyAdd input:hover, body .bodyAdd select:hover, body .bodyAdd .dvd:hover, body .bodyAdd .book:hover, body .bodyAdd .furniture:hover {
  -webkit-box-shadow: 5px 5px 8px 0px #e6e6e6;
          box-shadow: 5px 5px 8px 0px #e6e6e6;
}

body {
  font-family: 'Overpass', sans-serif;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "body" "footer";
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

body header, body footer, body .bodyShow, body .bodyAdd {
  margin-left: 30px;
  margin-right: 30px;
}

body header {
  margin-top: 25px;
  padding-right: 25px;
  padding-left: 10px;
  height: 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid black;
}

body header b {
  font-size: 45px;
}

body header button {
  margin-left: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 4px 0px #cccccc;
          box-shadow: 3px 3px 4px 0px #cccccc;
  font-size: 15px;
}

body header button:hover {
  background-color: #f0f0f0;
}

body footer {
  margin-top: auto;
  padding: 5px;
  padding-top: 25px;
  padding-bottom: 10px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  border-top: 2px solid black;
}

body .bodyShow {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 45px;
  grid-auto-rows: minmax(190px, 190px);
}

body .bodyShow > div {
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 20px;
  border: 1px solid #c9c9c9;
}

body .bodyShow > div input {
  margin-left: 20px;
}

body .bodyShow > div div {
  text-align: center;
}

body .bodyAdd {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 18px;
}

body .bodyAdd .error {
  display: none;
  color: red;
}

body .bodyAdd input, body .bodyAdd select {
  margin: 10px;
  margin-left: 10px;
}

body .bodyAdd .dvd, body .bodyAdd .book, body .bodyAdd .furniture {
  display: none;
  margin-top: 40px;
  padding: 10px;
  width: 320px;
  border: 1px solid #c9c9c9;
}
/*# sourceMappingURL=styles.css.map */