@import url(https://fonts.googleapis.com/css2?family=Overpass&display=swap);

%hoverShadow {
    &:hover {
        box-shadow: 5px 5px 8px 0px rgb(230, 230, 230);
    }
}

body {
    font-family: 'Overpass', sans-serif;
    display: grid;
    grid-template-areas: "header" "body" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;

    @import "headerFooter.scss";

    .bodyShow {
        @extend %leftRightM;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 45px;
        grid-auto-rows: minmax(190px, 190px);
        >div {
            padding-bottom: 50px;
            padding-top: 20px;
            font-size: 20px;
            border: 1px solid rgb(201, 201, 201);
            input {
                margin-left: 20px;
            }
            div {
                text-align: center;
            }
            @extend %hoverShadow;
        }
    }
    .bodyAdd {
        .error {
            display: none;
            color: red;
        }
        @extend %leftRightM;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 10px;
        font-size: 18px;
        input, select {
            margin: 10px;
            margin-left: 10px;
            @extend %hoverShadow;
        }
        .dvd, .book, .furniture {
            display: none;
            margin-top: 40px;
            padding: 10px;
            width: 320px;
            border: 1px solid rgb(201, 201, 201);
            @extend %hoverShadow;
        }
    }
}